<div class="article-row <%= className %>">
    <div class="article-info">
        <a href="/articulo/<%= article.slug %>" class="article-title">
            <h2><%= article.title %></h2>
        </a>
        <div class="article-data">
            <span class="article-date hide-desktop">
            <%= article.frmtDateMobile %>
            </span>
            <span class="article-date hide-mobile">
            <%= article.frmtDateDesktop %>
            </span>
        </div>
    </div>
</div>
