<div class="episode-single <%= className %>">
    <div class="wrapper">
        <a href="/episodio/<%= episode.slug %>" class="episode-cover">
            <img src="<%= episode.image %>" alt="<%= episode.slug %>">
        </a>
        <div class="episode-info">
            <a href="/episodio/<%= episode.slug %>" class="episode-title">
                <h2><%= episode.title %></h2>
            </a>
            <div class="episode-data">
            <span class="episode-date hide-desktop">
            <%= episode.frmtDateMobile %>
            </span>
            <span class="episode-date hide-mobile">
            <%= episode.frmtDateDesktop %>
            </span>
            <span class="episode-duration">
                <%= episode.duration %>
            </span>
            <span class="episode-size">
                <%= episode.frmtSize %>
            </span>
            </div>
            <div class="episode-links">
                <a 
                    href="https://ellugar.co/podcasts/detras-del-pixel/<%= episode.slug %>"
                    rel="noopener noreferrer"
                    target="_blank"
                    class="listen"
                    >
                    <i class="fas fa-volume-up hide-mobile"></i>escucha</a>
                <a 
                    href="<%= episode.audio_ogg %>"
                    download="<%= episode.title %>.ogg"
                    class="download"
                    >
                    <i class="fas fa-cloud-download-alt hide-mobile"></i>descarga</a>
                <a
                    href="<%= podcast.iTunesURL %>"
                    rel="noopener noreferrer"
                    target="_blank"
                    class="itunes"
                    >
                    <i class="fas fa-podcast hide-mobile"></i>iTunes</a>
                <a 
                    rel="noopener noreferrer"
                    target="_blank"
                    class="icon google"
                    href="<%= podcast.googlePodcast %>">
                    <% include ../partials/google %><span>Google</span>
                </a>
                <a
                    href="<%= podcast.feedBurner %>"
                    rel="noopener noreferrer"
                    target="_blank"
                    class="rss"
                    >
                    <i class="fas fa-rss hide-mobile"></i>rss</a>
            </div>
        </div>
        <div class="episode-description">
            <div class="rich-text">
                <%- episode.md %>
            </div>
        </div>
    </div>
</div>
