<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <meta property="og:image:height" content="1257">
        <meta property="og:image:width" content="2400">
        <script type="text/javascript" src="/app.js"></script>
    </head>
    <body class="container">
        <%- include('../partials/header', { podcast: podcast }); %>
        <main class="home">
            <section id="parallax-bg-first" class="main-about">
                <div class="wrapper">
                    <img class="logo" src="<%= podcast.image %>" alt="<%= podcast.title %>">
                    <div class="rich-text description">
                        <p>
                            Un podcast <a href="/acerca-de">acerca de</a> lo que pasa detrás del desarrollo de videojuegos, conducido por <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/afk_mcz">Mario Carballo Zama</a>.
                        </p>
                        <p>
                            Puedes escucharlo en
                            <a
                                rel="noopener noreferrer"
                                target="_blank"
                                href="<%= podcast.iTunesURL %>"
                                class="itunes"
                                >iTunes</a>, <a
                                rel="noopener noreferrer"
                                target="_blank"
                                href="<%= podcast.googlePodcast %>"
                                class=""
                                >Google</a>,
                            o suscribirte por
                            <a
                                rel="noopener noreferrer"
                                target="_blank"
                                href="<%= podcast.feedBurner %>"
                                class="rss"
                                >rss</a>
                        </p>
                    </div>
                </div>
            </section>
            <section class="episode-list">
                <% list.forEach(function(episode, i){ %>
                    <%- include('../partials/episode-single', {
                        episode: episode,
                        className: i === 0 ? 'active' : '',
                        podcast: podcast
                    }); %>
            <% }); %>
            </section>
        </main>

        <%- include('../partials/footer', { podcast: podcast }); %>
    </body>
</html>
